<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adiljutt.inscurancecar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>




    <application
        android:allowBackup="true"
        android:icon="@drawable/logosssss"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosssss"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CitiesActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".AddNewCaseActivity" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".CitiesActivity" />
        <activity android:name=".CaseDetailActivity" />
        <activity android:name=".LabourActivity" />
        <activity android:name=".AddCarPartActivity" />
        <activity android:name=".BeforeImagesActivity" />
        <activity android:name=".AfterImagesActivity" />
        <activity android:name=".CasePartActivity" />
        <activity android:name=".EditCaseActivity" />
        <activity android:name=".InVoiceReportActivity" />
        <activity android:name=".InVoiceReoprtDetailsActivity" />
        <activity android:name=".FullReportActivity" />
        <activity android:name=".FullReportDetailActivity" />
        <activity android:name=".INVoiceReportListActivity"
            android:parentActivityName=".CitiesActivity"/>
        <activity android:name=".InvoiceListDetailActivity" />
        <activity android:name=".FullReportListActivity"
            android:parentActivityName=".CitiesActivity"/>
        <activity android:name=".FullReportDetailListActivity"
            ></activity>
    </application>

</manifest>